<section>

  <h1>Vinci Court</h1>
  <div class="frame">

    <h3>Welcome to our tennis court </h3>
    <p>Welcome to Vinci Court, a charming tennis retreat nestled in the bustling
      Green Park district. Our court is a haven for tennis lovers, offering a
      superb playing surface that ensures an enjoyable and seamless game. The
      court is bathed in natural beauty, surrounded by verdant greenery that
      creates a tranquil yet invigorating atmosphere. As dusk falls, our
      state-of-the-art lighting system casts a warm glow, inviting players to
      enjoy the evening air. Vinci Court is more than a place to play; it’s a
      community where friendships are formed and the spirit of tennis is alive.
      Find us in the heart of Green Park, where every game is a celebration of
      sport.</p>
  </div>

  <img
    class="mx-auto d-block"
    src="../images/home_image.png"
    alt="home page image"
    width="500"
    height="300"
  />

  <div class="frame">
    <h4>Statistical</h4>
    <h5>Number of upcoming tournaments :{{numberOfTournaments.nbTournaments}}</h5>
    <h5>Number of upcoming court bookings : {{numberOfCourts.nbBookings}}</h5>
    <h5>Number of messages sent in the last week :{{numberOfMessages.nbMessages}}</h5>
  </div>

</section>